{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>
Rick Mofina is a former journalist who has interviewed murderers on death row, flown over L.A.
with the LAPD and patrolled with the Royal Canadian Mounted Police near the Arctic.
He’s also reported from the Caribbean, Africa and Kuwait’s border with Iraq.
His books have been published in nearly 30 countries, including an illegal translation produced in Iran.
    </p>
    <p>
His work has been praised by James Patterson, Dean Koontz, Michael Connelly, Lee Child,
 Tess Gerritsen, Jeffery Deaver, Sandra Brown, James Rollins, Brad Thor, Nick Stone, David Morrell,
Allison Brennan, Heather Graham, Linwood Barclay, Peter Robinson, Håkan Nesser and Kay Hooper.
    </p>
    <p>
The Crime Writers of Canada, The International Thriller Writers and The Private Eye Writers
of America have listed his titles among the best in crime fiction. As a two-time winner of Canada’s
Arthur Ellis Award, a four-time Thriller Award finalist and a two-time Shamus Award finalist, the Library Journal
calls him, “One of the best thriller writers in the business.”
    </p>
    <p>
Why we love it: Including Rick’s first-hand experiences as a journalist lends him credibility
in his genres of Crime Fiction and Thrillers. He also includes a list of well-known authors
who have praised his work, and these endorsements may encourage those authors’ fans to give Rick a try.
    </p>
{% endblock content %}